.mainContent {
    width: 100%;
}

.table {
    width: 100%;
    background-color: aquamarine;
}

.tableHeader div {
    margin: 10px 0;
}

.column {
    width: 30%;
    border: 1px black solid;
    text-align: center;
}

.columnOpt {
    border: 1px black solid;
    text-align: center;
}

.columnOpt a {
    padding: 0 15px;
}

.columnOpt button {
    margin: 0 15px !important;
}


